extends layout

block head
  script(src='/js/rankings.js')
  title Round Rock Rankings

block content
  if error
    h1= error
  h1 Rankings
  table
    tr.head
      th Rank
      th Name
      th Rating
      th Change
      if user
        th Play
    each player, rank in players
      tr.player
        td= rank + 1
        td= player.name
        td= Math.trunc(player.rating)
        if player.change != null
          if player.change
            td: img(src='res/inc.png')
          else
            td: img(src='res/dec.png')
        else
          td: p.dash -
        if user
          td: button(onclick=`play(${rank})`).won Won vs.
  if user
    button.add(onclick='addPlayer()') Add Player
    button.remove(onclick='removePlayer()') Remove Player
    form(method='post').saveranks
      button(action='submit', name='save').saveranks Save Ranks
    form(method='post').saveranks
      button(action='submit', name='reset') Reset Pending Matches
